// Variables of Gemini scheme
// ==================================================

$body-bg-color                = #eee;

$sidebar-width                = hexo-config('sidebar.width') is a 'unit' ? hexo-config('sidebar.width') : 240;
$sidebar-desktop              = unit($sidebar-width, 'px');
$content-wrap                 = 'calc(100% - %s)' % unit($sidebar-width + $sidebar-offset, 'px');

$content-desktop              = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'px');
$content-desktop-large        = 1160px;
$content-desktop-largest      = 73%;


// Borders
// --------------------------------------------------
$box-shadow-inner        = 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
$box-shadow              = 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 -1px .5px 0 rgba(0, 0, 0, .09);
$border-radius-inner     = 0 0 5px 5px;
$border-radius           = 5px;


// Header
// --------------------------------------------------
$subtitle-color                   = white;

// Sidebar
// --------------------------------------------------
$sidebar-nav-color                = var(--text-color);
$sidebar-nav-hover-color          = $orange;
$sidebar-highlight                = $orange;

$site-author-image-width          = 120px;
$site-author-image-border-width   = 1px;
$site-author-image-border-color   = $gainsboro;

$site-author-name-margin          = 0;
// $site-author-name-color           = var(--text-color);
$site-author-name-color           = $tencent-blue;
$site-author-name-weight          = 600;

$site-description-font-size       = $font-size-smaller;
$site-description-color           = $grey-dark;
$site-description-margin-top      = 0;

$site-state-item-count-font-size  = $font-size-medium;
$site-state-item-name-font-size   = $font-size-smaller;
$site-state-item-name-color       = $grey-dark;
$site-state-item-border-color     = $gainsboro;


// Components
// --------------------------------------------------

// Button
$btn-default-radius           = 5px;
$btn-default-bg               = white;
$btn-default-color            = $tencent-blue;
$btn-default-border-color     = $tencent-blue;
$btn-default-hover-bg         = $tencent-blue;
$btn-default-hover-border-color = $tencent-blue;
$btn-default-hover-color      = white;

// Back to top
$b2t-opacity                  = .6;
$b2t-position-bottom          = -100px;
$b2t-position-bottom-on       = 30px;


// Headband
// --------------------------------------------------
$headband-height                = 3px;
$headband-bg                    = $eee;
